html, body
{
  margin: 0;

}
section
{
  background-image: url("/simple_site/media/paper_1.png");
  margin: 0;
  height: 800px;
  width: 100%;

}
@media screen and (max-width: 768px)
{
  .all
  {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (min-width: 769px)
{
  .all
  {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.top
{
  background: #c2c2d6;
  text-align: center;
  color: black;
  padding: 10px;
  position: relative;
  top: 0px;
}

.welcome_text
{
  font-family: 'Oxanium' ;
}
a
{
  font-family: 'Oxanium';
}
.mid
{
  height: 700px;
  width: auto;
  background-color:  #c2c2d6;
}
.all
{
}
#who_we_are
{
  font-family: 'Pacifico';
  text-decoration: underline;
  position: relative;
  left: 5%;
  top: 7%;
  background-color: white;
  max-width: 80%;
}
#more_about_us
{
  position: relative;
  top: 12%;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Lacquer';
  background-color: white;
}
br
{
  color: black;
}
.bot
{
  height: 100px;
  width: 100%;
  background-color: gray;
}
.first_pic
{
  height: 200px;
  width: 200px;
}
.second_pic
{
  height: 200px;
  width: 200px;
}
pictures_container
{
  position: relative;
  top: 15%;
  background-color: black;
}
.first_pic:hover
{
  height: 500px;
  width: 200px;
}
